<DockLayout class="landing-page" stretchLastChild="true">
	<StackLayout marginBottom="5%" class="top-landing-page" dock="top">
		<Image width="100%" height="50%" src="~/images/oppjar-logo.png"></Image>
	</StackLayout>
	<StackLayout margin="5%" orientation="vertical" dock="bottom">
		<Button [text]="'landing_page.sign_up' | translate" class="btn btn-sign-up" margin="5%" (tap)="signUp()"></Button>
		<Button [text]="'landing_page.sign_in' | translate" class="btn btn-sign-in" margin="5%" (tap)="signIn()"></Button>
	</StackLayout>
</DockLayout>
