<ActionBar flat="true" title="Login" class="action-bar" android:style="padding-top:25;">
    <FlexboxLayout
        flexDirection="row"
        justifyContent="space-between"
        width="auto"
        height="auto"
    >
        <Label text="&#xf060;" class="action-label fas" (tap)="backPreviousPage()"></Label>
        <Button
            height="10"
            style="background-color: #FFFFFF;"
            text="Forgot password"
            class="btn-forgot-password"
        ></Button>
    </FlexboxLayout>
</ActionBar>
<StackLayout class="login-page" orientation="vertical">

    <Image #logo width="90%" src="~/images/oppjar-logo.png" class="logo"></Image>

    <FlexboxLayout
        [visibility]="navigating ? 'collapsed' : 'visible'"
        class="form-container"
        [ngClass]="[formSubmitted ? 'form-container-submitted' : 'form-container']"
        flexDirection="column"
        justifyContent="space-between"
        width="auto"
        height="auto"
    >
        <TextField [(ngModel)]="email" hint="Email" class="form-input" ></TextField>
        <TextField [(ngModel)]="password" hint="Password" class="form-input"></TextField>
        <Button (touch)="onFocus($event)" #btn [text]="'landing_page.sign_in' | translate" (tap)="onButtonTap()" class="btn btn-sign-in"></Button>
    </FlexboxLayout>
</StackLayout>
