@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

.icon {
    font-family: "OppJarIcons";
}

/* Common Style*/
@import './assets/resources/styles/common';

/* General */
@import './assets/resources/styles/general.scss';

/* Landing Page */
@import './assets/resources/styles/landing-page.scss';

/* Login */
@import './assets/resources/styles/login.scss';

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}