.bottom-navigation {
  height: 52;
  text-align: center;
  background-color: #ffffff;
  border-top-color: #dae1e7;
  border-top-width: 1;

  .bottom-navigation-item {
    .icon, .label {
      color: #C1C1C1;
    }
    .icon {
      font-size: 20;
    margin-bottom: 2;
    }
    .label {
      font-size: 10;
    }
  }

  .bottom-navigation-item.selected {
    .icon, .label {
      color: #22292f;
    }
  }

  GridLayout {
    margin: 10;
  }
}
