$blue: #3490dc;
$red: #e3342f;
$green: #38c172;
$orange: #f6993f;

.card {
  height: 170;
  border-radius: 5;
  padding: 10;
  color: #ffffff;
  background-color: #22292f;
  margin: 15;
  padding: 15;
  border-color: #f1f5f8;
  border-width: 1;

  .blue {
    background-color: $blue;
  }
  
  .red {
    background-color: $red;
  }
  
  .green {
    background-color: $green;
  }
  
  .orange {
    background-color: $orange;
  }

  .icon {
    font-size: 40;
    text-align: right;
    vertical-align: top;
  }

  .card-balance {

    .card-balance-label {
      font-size: 12;
    }

    .card-balance-amount {
      font-size: 26;
    }
  }

  .card-number {
    text-align: center;
    vertical-align: middle;
    
    Label {
      font-size: 18;
    }
  }

  .card-expires {
    text-align: center;
    font-size: 12;
  }
  
} 
