
.page {
  background-color: $page-background;
}

.action-bar {
  background-color: $page-background;
  border-width: 1;
  border-color: transparent;

  .action-item {
    color: black;
  }

  .action-bar-title {
    color: #3d4852;
    font-size: 20;
  }
}

.action-bar-landing-page {
  background-color: rgb(79, 135, 184);
  color: #FFFFFF;
}

.btn {
  border-radius: 50;
  border-width: 1;
  font-size: 18;
}
