.home-page-content {
  padding-top: 15;

  .balance-chart {
    background-color: #ffffff;
    border-radius: 5;
    margin-left: 15;
    margin-right: 15;
    border-color: #f1f5f8;
    border-width: 1;
  }

  .balance-chart {
    padding: 7.5;
  }

  .balance-summary {
    text-align: center;
    vertical-align: middle;

    StackLayout {
      padding-left: 20;
      padding-right: 20;
    }

    .title {
      color: #606f7b;
      font-size: 12;
      margin-bottom: 5;
    }

    .ammount {
      color: #3d4852;
      font-size: 16;
      font-weight: 600;
      margin-bottom: 5;
    }

    .hr-light {
      height: 3;
    }

    .hr-light.green {
      background-color: #38c172;
    }

    .hr-light.red {
      background-color: #e3342f;
    }

  }

  .expenses-chart {
    padding-left: 15;
    padding-right: 15;

    Label {
      font-size: 16;
      text-align: center;
      color: #3d4852;
    }
  }

}