.landing-page {
    .top-landing-page {
        background-color: $landing-color;
        border-bottom-left-radius: 20;
        border-bottom-right-radius: 20
    }

    .btn-sign-in {
        background-color: $landing-color;
        border-color: $landing-color;
        color: #FFFFFF;
    }
    
    .btn-sign-in:active {
        background-color: #FFFFFF;
        border-color: $landing-border;
        color: $main-color;
    }

    .btn-sign-up {
        background-color: #FFFFFF;
        border-color: $landing-border;
        color: $main-color;
    }
    
    .btn-sign-up:active {
        background-color: #FFFFFF;
        border-color: $landing-border;
        color: $main-color;
    }
}