.btn-forgot-password {
    background-color: #FFFFFF;
    border-radius: 50;
    color: $main-color;
    padding-left: 20;
    padding-right: 20;
    margin-right: 15;
}

.btn-forgot-password:active {
    color: $landing-color;
}

.action-label {
    font-size: 18;
    color: $main-color;
}

.login-page {
    background-color: $page-background;
    transform: scale(0.3, 0.3);
    animation-name: main;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, 0.1, 1.0, 1.0);

    @keyframes main {
        from { transform: scale(0.3, 0.3); }
        50% { transform: scale(0.7, 0.7); }
        to { transform: scale(1, 1); }
    }

    .btn-sign-in {
        background-color: $landing-color;
        border-color: $landing-color;
        color: #FFFFFF;
        margin-left: 20;
        margin-right: 20;
    }
    
    .btn-sign-in:active {
        background-color: #FFFFFF;
        border-color: $landing-border;
        color: $main-color;
    }

    .reg-log-container {
        margin-top: 40;
        padding: 20;
    }
    .reg-active {
        font-size: 20;
        color:lightgray;
        border-bottom-color: rgba(255, 0, 34, 0.644);
        border-bottom-width: 2;
        padding-bottom: 10;
        animation-name: toggle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    .reg-active-input {
        animation-name: reg_input;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .reg-deactive{
        color:lightgray;
        font-size: 11;
        padding-top: 12;
        animation-name: toggle;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.1, 0.1, 1.0, 1.0);
    }
    @keyframes toggle {
        from { opacity: 0;}
        50% { opacity: 0.5; }
        to { opacity: 1; }
    }
    @keyframes reg_input {
        from { background-color: white; }
        50% { background-color: white; }
        to { background-color: white; }
    }
     
    .reg-separator{
        color:lightgray;
        font-size: 13;
        padding-top: 12;
        padding-left: 20;
        padding-right: 20;
        animation-name: toggle;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .logo {
        margin-top: 20;
    }

    .form-input {
        margin-left: 20;
        margin-right: 20;
        placeholder-color: $main-color;
        background-color: rgba(241, 241, 241, 0.6);
        font-size: 16;
        background-color: #ffffff;
        border-radius: 5;
        border-width: 1;
        padding: 10;
    }
    .form-container {
        padding-top: 20;
        padding-bottom: 20;
        margin: 20;
        background-color: #ffffff;
        border-radius: 5;
    }
    .form-container-submitted {
        animation-name: login_submitted;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    @keyframes login_submitted {
        from { opacity: 1 }
        50% { opacity: 0.1 }
        to { opacity: 1 }
    }
    .form-button {
        margin: 20;
        margin-top: 25;
        border-radius: 50;
        background: linear-gradient(to left, #84aacc, #4f87b8);
        color: white;
    }
    .form-label {
        color:#ccc;
        margin-top: -5; 
    }
    .login-done {
        width: 10;
        height: 10;
        border-radius: 1000;
        background-color: #f84e4e;
        padding: 10;
        z-index: 1000000;
        margin: -50;
    }
    .action-image {
        width: 40;
        height: 40;
        vertical-align: center;
    }
}