/* Side Drawer */
.sidedrawer-list-item-icon,
.sidedrawer-list-item {
  color: #022734;
}

.sidedrawer {
  background-color: #ffffff;

  .sidedrawer-header-image {
    height: 60;
    width: 60;
    padding: 0;
    margin-bottom: 5;
    border-radius: 50%;
  }

  .sidedrawer-header {
    background-color: #f1f5f8;
    horizontal-align: center;
    vertical-align: center;
    font-size: 14;
    font-weight: 600;
    text-align: center;
    height: 200;
    align-items: center;
    flex-direction: column;

    .sidedrawer-header-name {
      color: #22292f;
      font-size: 24;
    }

    .sidedrawer-header-balance {
      background-color: #ffffff;
      padding: 5;
      margin-top: 10;
      border-radius: 5;
      width: 150;

      .label {
        color: #3d4852;
        font-weight: 600;
      }

      .amount {
        color: #38c172;
        font-weight: 600;
      }
    }
  }

  .sidedrawer-body {
    padding-top: 10;
  }

  .sidedrawer-menu {
    .sidedrawer-list-item {
      padding-left: 30;
      height: 50;

      Label {
        vertical-align: center;
        font-size: 20;
        color: #606f7b;
      }

      .icon {
        font-size: 20;
        margin-right: 10;
        color: #b8c2cc;
      }
    }

    .sidedrawer-list-item.selected {
      Label {
        color: #3d4852;
      }

      .icon {
        color: #22292f;
      }
    }
  }

  .sidedrawer-language {
    padding-top: 30;
    padding-bottom: 30;
    horizontal-align: center;

    Label {
      padding: 5;
      border-radius: 5;
      height: 34;
      color: #3d4852;
      text-align: center;
      margin-left: 5;
      margin-right: 5;
      font-size: 16;
      padding-left: 14;
      padding-right: 14;
    }

    Label.selected {
      background-color: #f1f5f8;
      color: #606f7b;
    }
  }

  .sidedrawer-footer {
    text-align: center;
    color: #606f7b;

    .sidedrawer-footer-logo {
      height: 30;
      margin-bottom: 10;
    }

    .sidedrawer-footer-by {
      font-size: 14;
    }
  }
  
  
}