.transactions-list {
  background-color: #f1f5f8;
  margin-left: 15;
  margin-right: 15;

  .transactions-list-header {
    font-size: 12;
    color: #3d4852;
    margin-bottom: 5;
  }

  .transactions-list-item {
    background-color: #ffffff;
    border-radius: 5;
    border-color: #f1f5f8;
    border-width: 1;
    padding-left: 15;
    padding-right: 15;
    padding-top: 5;
    padding-bottom: 5;
    margin-bottom: 10;

    .badge {
      border-radius: 50%;
      margin-right: 10;
      vertical-align: middle;
      text-align: center;

      .icon {
        color: #ffffff;
      }
    }

    .badge.home {
      background-color: #3490dc;
    }

    .badge.transport {
      background-color: #22292f;
    }

    .badge.communication {
      background-color: #3490dc;
    }

    .badge.hotel {
      background-color: #38c172;
    }

    .badge.restaurant {
      background-color: #f6993f;
    }

    .title {
      font-size: 14;
      color: #3d4852;
    }

    .category {
      font-size: 12;
      color: #b8c2cc;
    }

    .amount {
      font-size: 14;
      vertical-align: middle;

      .quantity.red {
        color: #e3342f;
      }

      .quantity.green {
        color: #38c172;
      }

      .icon {
        color: #b8c2cc;
        font-size: 12;
      }
      
    }
  }
}